@font-face {
        font-family: "poppins-bold";
        src: url(./poppins/Poppins-Bold.ttf);
}
@font-face {
        font-family: "poppins-semi_bold";
        src: url(./poppins/Poppins-SemiBold.ttf);
}
@font-face {
        font-family: "poppins-light";
        src: url(./poppins/Poppins-Light.ttf);
}
* {
        margin: 0;
        padding: 0;
        text-decoration: none;
}
body {
        font-family: "poppins-bold";
}

/* En tête */

.header_container {
        background-color: rgba(165, 151, 128, 0.613);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.header img {
        margin-left: 90px;
}
.header .presentation {
        padding: 40px;
}
.header .presentation h1 {
        font-size: 4rem;
}
.header .presentation h2 {
        font-size: 3rem;
}
.header .presentation h3 {
        font-size: 2rem;
}
.header .presentation p {
        font-size: 1.2rem;
}
#permis {
        font-size: 1.6rem;
}

/*  Cenral */
span {
        position: absolute;
        background-color: black;
        width: 80px;
        height: 6px;
}
.central {
        font-family: "poppins-light";
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-top: 10px;
}
.central h1 {
        font-size: 2rem;
}

/*  Central gauche */
.central_gauche {
        padding: 10px;
}
.email {
        display: flex;
        justify-content: flex-start;
        align-items: center;
}
.email h2 {
        margin-left: 10px;
}
.email img {
        display: block;
}
.phone {
        display: flex;
        justify-content: flex-start;
        align-items: center;
}
.phone h2 {
        margin-left: 10px;
}

/* central droit */
.central_droit {
        background-color: rgba(227, 201, 163, 0.436);
        width: 1000px;
        padding: 10px 50px;
}

li {
        margin-left: 30px;
}
